@font-face {
    font-family: "Cyberspace Raceway";
    src: url(assets/fonts/cyberspace_raceway/Cyberspace\ Raceway\ Back.otf) format('opentype');
}

@font-face {
    font-family: "Digital-7";
    src: url(assets/fonts/digital-7/digital-7.ttf) format('truetype');
}

@keyframes left_to_right{
    0%{
       -webkit-transform: translateX(-100%);
       transform: translateX(-100%);
    }
    100%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes displaySettings{
    0%{
       height: 0px;
    }
    100%{
        height: 40px;
    }
}

@keyframes removeSettings{
    0%{
       height: 40px;
       visibility: visible;
    }
    100%{
        height: 0px;
        visibility: hidden;
    }
}

* {
    box-sizing: border-box;
}


body { 
    background-image: url("assets/background/retrowave-background.jpg");
    background-size: cover;
}

.container {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    align-items: center;
}

.playlist {
    align-self: start;
    background-color: #393942;
    box-shadow: 0px 0px 20px blueviolet;
    display: grid;
    grid-template: 1fr / 1fr 8fr;
    margin: 0px auto;
    overflow: scroll;
    overflow-x: hidden;
}

.playlist img {
    border: 1px blueviolet solid;
    display: grid;
    align-self: center;
    box-shadow: 0px 0px 20px blueviolet;
}

.playlist p {
    color: aqua;
    font-family: Cyberspace Raceway;
    font-size: 12px;
    text-align: center;
}

.selected {
    background-color: chartreuse;
}

.jukebox {
    align-items: center;
    background-image: url("assets/images/carbon-fiber.png");
    border-radius: 500px;
    box-shadow: 0px 0px 100px blueviolet;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    height: 200px;
    width: 700px;
    border: 2px #423d3c solid;
    margin: 10px auto;
    justify-items: center;
    align-self: end;
}

.timer {
    background-color: #393942;
    border: 2px solid black;
    color: aqua;/*#8b9ead*/
    font-family: Digital-7;
    font-size: 28px;
    grid-area: 1 / 5 / span 1 / span 1;
    padding: 3px;
    width: 70px;
    text-align: center;
    align-self: end;
    text-shadow: 1px 1px #558abb, -1px -1px #558abb, 1px 1px #558abb, -1px -1px #558abb;
}

.info {
    background-color: #393942;
    border: 2px solid black;
    color: aqua;
    font-family: Cyberspace Raceway;
    font-size: 12px;
    grid-area: 2 / 4 / span 1 / span 3;
    height: 60%;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.info p {
    animation: left_to_right 14s linear;
    animation-iteration-count: infinite;
    text-shadow: 1px 1px #558abb, -1px -1px #558abb, 1px 1px #558abb, -1px -1px #558abb;
}
.jukebox-button {
    background-color: blueviolet;
    border: 1px solid aqua;
    box-shadow: 2px 2px 3px blueviolet, -2px -2px 3px blueviolet;
    margin: 6px;
    height: 30%;
    width: 88%;
}

.jukebox-button:hover {
    cursor: pointer;
    height: 35%;
    width: 93%;
}

.jukebox-button i{
    color: aqua;
}

#settings {
    cursor: pointer;
    color: grey;
    justify-self: end;
    grid-area: 3  / 2 / span 1 / span 1;
}

#volume {
    cursor: pointer;
    grid-area: 3 / 7 / span 1 / span 2;
    opacity: 0.7;
}

input + p {
    color: aqua;
    font-family: Digital-7;
    font-size: 186x;
    justify-self: end;
    grid-area: 3 / 8 / span 1 / span 1;
}
#toggle {
    background-image: url("assets/images/carbon-fiber.png");
    border-bottom: 2px #423d3c solid;
    border-right: 2px #423d3c solid;
    border-left: 2px #423d3c solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    bottom: 25px;
}

.toggle-initial {
    visibility: hidden;
}

.toggle-visible {
    animation: displaySettings 0.6s linear;
    animation-iteration-count: initial;
    visibility: visible;
}

.toggle-hidden {
    animation: removeSettings 0.6s linear;
    animation-iteration-count: initial;
    visibility: hidden;
}

#step-backward {
    grid-area: 2 / 2 / span 1 / span 1;
}

#rewind {
    grid-area: 2 / 3 / span 1 / span 1;
}
#stop {
    grid-area: 3 / 4 / span 1 / span 1;
}
#play {
    grid-area: 3 / 5 / span 1 / span 1;
}
#pause {
    grid-area: 3 / 6 / span 1 / span 1;
}
#forward {
    grid-area: 2 / 7 / span 1 / span 1;
}
#step-forward {
    grid-area: 2 / 8 / span 1 / span 1;
}

#shuffle {
    align-self: end;
    position: relative;
    top: -5px;
    grid-area: 3 / 5 / span 1 / span 1;
}
#stop, #play, #pause {
    position: relative;
    top: -20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

